@import "../../utils/base";
@import "./variables";

.SearchBar {
  top: 0px;

  &[data-is-visible='false'] {
    height: 0px;

    .SearchBar-inner, .SearchBar-close-button {
      opacity: 0;
      height: 0px;
      overflow-y: hidden;
      transition: opacity 0.4s 0.2s ease;
    }

    .SearchResults {
      height: 0px;
      opacity: 0;
      padding-top: 55px;
      transition: height 0.4s;
    }
  }

  &[data-is-visible='true'] {
    .SearchBar-inner, .SearchBar-close-button {
      opacity: 1;
      transition: opacity 0.4s 0.2s ease;
    }

    .SearchResults {
      height: 100%;
      opacity: 1;
      padding-top: 55px;
      transition: height 0.4s;
    }
  }

  &-inner {
    height: 55px;
    z-index: 9999;
    position: fixed;
    width: 100%;
    opacity: 1;
    overflow-y: hidden;
    transition: opacity 0.4s 0.2s ease;

    background: @gray-soft;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px -1px 0px 1px rgba(0,0,0,0.1);
  }

  .search-input {
    .v-no-outlines;
    .v-clean-input;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: @gray-solid-b;
    float: left;
    height: 50%;
    margin: 12.5px 0px 12.5px 5%;
    padding: (@pad * 2) 0px (@pad * 2) (@pad * 2);
    width: 80%;
  }


  &-close-button {
    .v-clean-btn;
    .v-no-outlines;
    width: 10%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    float: left;
    margin: 12.5px 5% 12.5px 0px;
    padding: 15px 0px;
    height: 50%;

    background: url('http://i.imgur.com/aDdrtCk.png') no-repeat white;
    background-size: 15px auto;
    background-position: 50% center;

    &:hover {
      cursor: pointer;
    }
  }
}
